
# ignore all instances of the following
*.DS_Store
error_log
*/error_log/*

# SASS
**/.sass-cache
**/.sass-cache/*


# CodeIgniter
deploy/ct_application/cache/*
!deploy/ct_application/cache/index.html
!deploy/ct_application/cache/.htaccess
deploy/ct_application/logs/*
!deploy/ct_application/logs/index.html
!deploy/ct_application/logs/.htaccess
/vendor/

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project