
# ignore index.php for cron
/index.php

# ignore all instances of the following
*.DS_Store
error_log
*/error_log/*

# SASS
**/.sass-cache
**/.sass-cache/*

# Wordpress
wp-content/debug.log

# CodeIgniter
ct_application/cache/*
!ct_application/cache/index.html
!ct_application/cache/.htaccess
ct_application/logs/*
!ct_application/logs/index.html
!ct_application/logs/.htaccess
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project