AddHandler php5-script .php

Options +FollowSymLinks
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^([0-9a-zA-Z]+.js)
RewriteRule ^(.*)$ /index.php?/$1 [L]