/* ==========================================================================
   Base Stylesheet (0 - 640)
   ========================================================================== */
/* line 5, ../../scss/styles/base.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 10, ../../scss/styles/base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  padding: 0;
  font-family: 'Coustard', sans-serif;
  text-align: center;
}

/* line 17, ../../scss/styles/base.scss */
p {
  margin: 0 0 20px 0;
  padding: 0;
}

/* ==========================================================================
   Header
   ========================================================================== */
/* line 29, ../../scss/styles/base.scss */
header.site-header {
  padding: 2% 0;
}
/* line 33, ../../scss/styles/base.scss */
header.site-header .twitter-status .loader,
header.site-header .instagram-status .loader {
  position: relative;
  top: -2px;
}
/* line 38, ../../scss/styles/base.scss */
header.site-header .minimize {
  float: right;
  font-size: 0.668em;
}
/* line 43, ../../scss/styles/base.scss */
header.site-header.minimized h1 {
  margin-bottom: 0;
}
/* line 46, ../../scss/styles/base.scss */
header.site-header.minimized p,
header.site-header.minimized .addthis_sharing_toolbox {
  display: none;
}

/* ==========================================================================
   Footer
   ========================================================================== */
/* line 57, ../../scss/styles/base.scss */
footer {
  padding: 2% 0;
  text-align: center;
}
/* line 61, ../../scss/styles/base.scss */
footer p {
  margin-bottom: 5px;
  font-size: 0.688em;
}
/* line 64, ../../scss/styles/base.scss */
footer p:last-child {
  margin-bottom: 0;
}

/* ==========================================================================
   Map
   ========================================================================== */
/* line 75, ../../scss/styles/base.scss */
#map {
  width: 100%;
  height: 60%;
  background: #73B6E6;
}

/* line 84, ../../scss/styles/base.scss */
.twitterClusterMarker {
  margin: 0;
  padding: 23px 0 0 0;
  width: 60px;
  height: 60px;
  background: url(../images/twitterClusterMarker.png);
  background-size: 100%;
  text-align: center;
  font-size: 1.083em;
  color: #fff;
}

/* line 96, ../../scss/styles/base.scss */
.instagramClusterMarker {
  margin: 0;
  padding: 21px 0 0 0;
  width: 60px;
  height: 60px;
  background: url(../images/instagramClusterMarker.png);
  background-size: 100%;
  text-align: center;
  font-size: 1.083em;
  color: #fff;
}

/* line 117, ../../scss/styles/base.scss */
.leaflet-popup-content .image {
  display: block;
  margin: 0 auto;
  border: 2px solid #55acee;
}
/* line 122, ../../scss/styles/base.scss */
.leaflet-popup-content .screen_name {
  text-align: center;
}

/* ==========================================================================
 Debug Styles
 ========================================================================== */
/* line 132, ../../scss/styles/base.scss */
#debug-message {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  padding: 10px;
  width: auto;
  height: auto;
  font-size: 12px;
  color: #fff;
  background: pink;
}
/* line 143, ../../scss/styles/base.scss */
#debug-message p {
  margin: 0;
}
/* line 146, ../../scss/styles/base.scss */
#debug-message .small, #debug-message .medium, #debug-message .large, #debug-message .exlarge {
  display: none;
}
/* line 149, ../../scss/styles/base.scss */
#debug-message .small {
  display: block;
}
