/* ==========================================================================
   Medium Stylesheet (640 - 1024)
   ========================================================================== */
/* ==========================================================================
   Header
   ========================================================================== */
/* line 11, ../../scss/styles/medium.scss */
header.site-header h1 {
  margin-bottom: 20px;
}
/* line 14, ../../scss/styles/medium.scss */
header.site-header p {
  display: block;
}
/* line 17, ../../scss/styles/medium.scss */
header.site-header .addthis_sharing_toolbox {
  display: block;
}

/* ==========================================================================
   Debug Styles
   ========================================================================== */
/* line 27, ../../scss/styles/medium.scss */
#debug-message {
  background: lightblue;
}
/* line 29, ../../scss/styles/medium.scss */
#debug-message .small, #debug-message .large, #debug-message .exlarge {
  display: none;
}
/* line 32, ../../scss/styles/medium.scss */
#debug-message .medium {
  display: block;
}
