/* ==========================================================================
   Medium Stylesheet (640 - 1024)
   ========================================================================== */
/* ==========================================================================
   Header
   ========================================================================== */
/* line 11, ../../scss/styles/medium.scss */
header.site-header h1 {
  margin-bottom: 20px;
}
/* line 14, ../../scss/styles/medium.scss */
header.site-header p {
  display: block;
}
/* line 17, ../../scss/styles/medium.scss */
header.site-header .addthis_sharing_toolbox {
  display: block;
}

/* line 22, ../../scss/styles/medium.scss */
#map {
  height: 100%;
}

/* ==========================================================================
   Debug Styles
   ========================================================================== */
/* line 31, ../../scss/styles/medium.scss */
#debug-message {
  background: lightblue;
}
/* line 33, ../../scss/styles/medium.scss */
#debug-message .small, #debug-message .large, #debug-message .exlarge {
  display: none;
}
/* line 36, ../../scss/styles/medium.scss */
#debug-message .medium {
  display: block;
}
