/* ==========================================================================
   Medium Stylesheet (640 - 1024)
   ========================================================================== */



/* ==========================================================================
   Header
   ========================================================================== */
header.site-header{
    p{
        display: block;
    }
    .addthis_sharing_toolbox{
        display: block;
    }
}



/* ==========================================================================
   Debug Styles
   ========================================================================== */
#debug-message {
    background: lightblue;
    .small, .large, .exlarge {
        display: none;
    }
    .medium {
        display: block;
    }
}